<h2>Results for UPC code <span class="text-primary">{{upc}}</span></h2>

<div class="card">
    <h4 class="card-header">{{movie.DVD_Title}}</h4>
    <div class="card-block">
		<table class="table table-responsive table-bordered">
		  <tbody>
		    <tr>
		      <th>Studio</th>
		      <td>{{movie.Studio}}</td>
		    </tr>
		    <tr>
		      <th>Released</th>
		      <td>{{movie.Released}}</td>
		    </tr>
		    <tr>
		      <th>Status</th>
		      <td>{{movie.Status}}</td>
		    </tr>
		    <tr>
		      <th>Sound</th>
		      <td>{{movie.Sound}}</td>
		    </tr>
		    <tr>
		      <th>Versions</th>
		      <td>{{movie.Versions}}</td>
		    </tr>
		    <tr>
		      <th>Price</th>
		      <td>{{movie.Price}}</td>
		    </tr>
		    <tr>
		      <th>Rating</th>
		      <td>{{movie.Rating}}</td>
		    </tr>
		    <tr>
		      <th>Year</th>
		      <td>{{movie.Year}}</td>
		    </tr>
		    <tr>
		      <th>Genre</th>
		      <td>{{movie.Genre}}</td>
		    </tr>
		    <tr>
		      <th>Aspect</th>
		      <td>{{movie.Aspect}}</td>
		    </tr>
		    <tr>
		      <th>DVD Release Date</th>
		      <td>{{movie.DVD_ReleaseDate}}</td>
		    </tr>
		  </tbody>
		</table>
    </div>
</div>